<li id="comment-<%=comment._id%>"> 
    <p>
        <%=comment.content%> : <%=comment.user.name%>
        <% if (locals.user && locals.user.id == comment.user.id){ %>
        <a class="delete-comment-button" href="comment/destroy/<%=comment._id%>"> <span><i
                    class="fas fa-window-close"></i></span></a>
        <% } %>

        <small  id="comments-like">
            <%if(locals.user){%>
            <a class="toggle-like-button" data-likes="<%=comment.likes.length %>"
                href="/likes/toggle/?type=Comment&id=<%=comment._id%>"><%=comment.likes.length%> Likes
                <span id="check">
                    <% for(likes of comment.likes) { %>
                    <%if(likes.user==user.id) {%>
                    Liked
                    <%}%>
                    <%}%>
                </span>
            </a>
            <%}else{%>
            <p><%=comment.likes.length%> Likes</p>
            <%}%>
        </small>
        
    </p>
   <hr>
</li>