<link rel="stylesheet" href="<%=assetPath('css/about.css')%>">
<section class="top-style">
    <div class="background-svg animated bounce slower">
        <span class="mydiv"></span>
        <img src="<%=assetPath('images/sumit_banner.svg')%>">
    </div>
    <div style="position: absolute; right: 0;" class="videoItem">
        <video playsinline="playsinline" autoplay="autoplay" loop="loop">
            <source src="<%=assetPath('videos/my_video.mp4')%>" type="video/mp4">
        </video>
    </div>
    <div class="overlay animated zoomInRight">
        <p>
            Defining what you want to achieve will form the basis of <br> how you use social media and ensure your
            messages stay focused. <br>
            Using social media because you feel you should <br> or because everyone else is won’t let you create a solid
            foundation. <br>
            You need to consider what you want to gain from it.
        </p>
    </div>
</section>
    
<section id="about">
    <h3 class="center" style="color:black"> <i>Full Stack Web-Developer</i> </h3>
    <p id="about-para">
        As a 2nd year Computer Science and Engineering Student (IIIT KOTA), I am aspiring for an internship or a job in
        which I can make a real contribution. My technical skills, as well as my desire to pursue this as my profession,
        have convinced me that this is the industry in which I can add value.
    </p>
    <div class="aff">
        <span class="aff-title"><i class="fab fa-affiliatetheme" style="color: red;"></i> <b>Affiliations</b></span>
        <ul>
            <li>
                <i class="fab fa-aws" style="color: royalblue; width: 25px;"></i> Amazon Web Services:
                <span style="color: gray;">Designation (Educate)</span>
            </li>
            <li>
                <i class="fas fa-user-ninja" style="color: red; width: 25px;"></i> Coding Ninjas Alumni Network:
                <span style="color: gray;">Designation (Alumni)</span>
            </li>
        </ul>
    </div>
</section>

<section id="skills">
    <h1 class="skill-header">
        <span><i class="fas fa-chalkboard-teacher"></i> </span><span> SKILLS</span>
    </h1>


    <div class="skill-display">
        <div class="skill-display-inside">
            <div class="skill-image">
                <img src="<%=assetPath('images/c++.png')%>">
            </div>
            <div class="skill-progress ">
                <div class="sixty-percent blue animated slideInLeft faster wow">
                    <div class="skill-name">
                        <span> C/C++ </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="skill-display-inside">
            <div class="skill-image">
                <img src="Images/dsa.webp">
            </div>
            <div class="skill-progress">
                <div class="eighty-five-percent teal animated slideInLeft faster wow">
                    <div class="skill-name">
                        <span> D.S.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="skill-display-inside">
            <div class="skill-image">
                <img src="Images/algo.webp">
            </div>
            <div class="skill-progress">
                <div class="seventy-percent pink animated slideInLeft faster wow">
                    <div class="skill-name">
                        <span> Algo. </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="skill-display-inside">
            <div class="skill-image">
                <img src="<%=assetPath('images/os.svg')%>">
            </div>
            <div class="skill-progress">
                <div class="sixty-percent yellow animated slideInLeft faster wow">
                    <div class="skill-name">
                        <span> O.S.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="skill-display-inside">
            <div class="skill-image">
                <img src="<%=assetPath('images/sql.ico')%>">
            </div>
            <div class="skill-progress">
                <div class="seventy-percent maroon animated slideInLeft faster wow">
                    <div class="skill-name">
                        <span> MongoDB </span>
                    </div>
                </div>
            </div>
        </div>

        <diV class="skill-display-inside">
            <div class="skill-image">
                <img src="Images/htmlcss.png" style="width: 35px;">
            </div>
            <div class="skill-progress" style="width: 75%;">
                <div class="seventy-percent red animated slideInLeft faster wow">
                    <div class="skill-name">
                        <span> HTML/CSS </span>
                    </div>
                </div>
            </div>
        </diV>

        <div class="skill-display-inside">
            <div class="skill-image">
                <img src="<%=assetPath('images/js.svg')%>">
            </div>
            <div class="skill-progress">
                <div class="seventy-percent brown animated slideInLeft faster wow">
                    <div class="skill-name">
                        <span> JScript </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="skill-display-inside">
            <div class="skill-image">
                <img src="Images/nodejs.svg">
            </div>
            <div class="skill-progress">
                <div class="sixty-percent purple animated slideInLeft faster wow">
                    <div class="skill-name">
                        <span> Node Js </span>
                    </div>
                </div>
            </div>
        </div>

</section>

<section id="certificates">
    <h1><i class="fas fa-book-reader"></i> Certificates</h1>
    <div class="port-display">

        <div class="outer">
            <a href="https://students.codingninjas.com/verify/f5b8f2eac56828c5" target="_blank">
                <p> Front-End<br>Developement </p>

                <div class="black-back z-depth-4">
                    <img src="<%=assetPath('images/front-cert.png')%>" height="100px" width="100px">
                </div>
            </a>
        </div>

        <div class="outer">
            <a href="https://ninjasfiles.s3.amazonaws.com/certificate39593940a2f009275adb94e358a3f4bef1a85c.pdf"
                target="_blank">
                <p>Introduction to<br>C++</p>

                <div class="black-back z-depth-4">
                    <img src="<%=assetPath('images/intro-cert.png')%>" height="100px" width="100px">
                </div>
            </a>
        </div>

        <div class="outer">
            <a href="https://students.codingninjas.com/verify/f4a1ffe354c73db0" target="_blank">
                <p>Backend Using<br>Node js </p>

                <div class="black-back z-depth-4">
                    <img src="<%=assetPath('images/back-cert.png')%>" height="100px" width="100px">
                </div>
            </a>
        </div>

        <div class="outer">
            <a href="https://ninjasfiles.s3.amazonaws.com/certificate395938f6b0d8d9a77442ed51f0f80aab85122a.pdf"
                target="_blank">
                <p> Data structures<br>in C++</p>
                <div class="black-back z-depth-4">
                    <img src="<%=assetPath('images/data-cert.png')%>" height="100px" width="100px">
                </div>
            </a>
        </div>

    </div>

</section>

<section id="contact">

    <h1 class="skill"><span> <i class="far fa-id-card"></i></span><span> Contact</span></h1>

    <div id="contact-display">

        <div id="form">
            <form action="/users/create_session" method="POST">

                <div class="md-form my-5">
                    <i class="fa fa-user prefix" style="color: #00c851;"></i>
                    <input type="text" name="name" id="inputIconEx1" class="form-control" required>
                    <label for="inputIconEx1">Your Name</label>
                </div>

                <div class="md-form my-5">
                    <i class="fas fa-envelope prefix" style="color: #00c851;"></i>
                    <input type="email" name="email" id="inputIconEx1" class="form-control" required>
                    <label for="inputIconEx1">E-mail address</label>
                </div>

                <div class="md-form">
                    <i class="prefix fas fa-american-sign-language-interpreting " style="color: #00c851;"></i>
                    <textarea type="text" name="content" id="post" class="md-textarea form-control" mdbInput></textarea>
                    <label for="post">Any Queries or Feedbacks !</label>
                </div>
                <button type="submit" id="sign-in-submit" class="btn btn-success btn-md">Send</button>
            </form>
        </div>

        <div id="aside-contact">
            <h3> Get In touch </h3>
            <p> Please feel free to connect with me, as it was a pleasure to get noticed by you!</p>
            <h4>Here are my contact details: </h4>
            <table>
                <tr>
                    <td><i class="fas fa-map-marker-alt"></i> </td>
                    <td> Ward no.9 Badbar, Rajasthan, India</td>
                </tr>
                <tr>
                    <td> <i class="far fa-envelope"></i> </td>
                    <td> kumarsumit16022000@gmail.com</td>
                </tr>
            </table>
        </div>
    </div>

    <div style="text-align: center;">
        <a href="#" class="skill">
            <span class="mydivFont"><i class="fas fa-angle-double-up animated hinge infinite slower"></i><span> Back to Top</span></span>
        </a>
    </div>
</section>