<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="HandheldFriendly" content="true">

   <link rel="stylesheet" href="<%=assetPath("css/stackpathbootstrap.css")%>">

   <link rel="stylesheet" href="/css/main.css" />


   <style>
      /* Popup container - can be anything you want */
      .popup {
         position: relative;
         display: inline-block;
         cursor: pointer;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
      }

      /* The actual popup */
      .popup .popuptext {
         visibility: hidden;
         width: 240px;
         background-color: white;
         color: #fff;
         text-align: center;
         border-radius: 6px;
         padding: 10px;
         position: absolute;
         z-index: 1;
         bottom: 125%;
         left: 40%;
         margin-left: -80px;
      }

      /* Popup arrow */
      .popup .popuptext::after {
         content: "";
         position: absolute;
         top: 100%;
         left: 50%;
         margin-left: -5px;
         border-width: 5px;
         border-style: solid;
         border-color: #555 transparent transparent transparent;
      }

      /* Toggle this class - hide and show the popup */
      .popup .show {
         visibility: visible;
         -webkit-animation: fadeIn 1s;
         animation: fadeIn 1s;
      }

      /* Add animation (fade in the popup) */
      @-webkit-keyframes fadeIn {
         from {
            opacity: 0;
         }

         to {
            opacity: 1;
         }
      }

      @keyframes fadeIn {
         from {
            opacity: 0;
         }

         to {
            opacity: 1;
         }
      }
   </style>


</head>

<body onscroll="myFunction()">

   <!-- Top Navbar begins-->

   <nav class="navigation">
      <div class="content">
         <div class="tm-title animated faster tada"><img style="height: 50px; padding: 10px;" alt="logo"
               src="<%=assetPath("images/logo.svg")%>"></div>

         <div class="navigation-links animated faster" id="bar">
            <ul>
               <li><a href="#">Home</a></li>
               <li><a href="#need">Features</a></li>
               <li><a href="#about-us">Need</a></li>
               <li><a href="#founders">Founders</a></li>
               <li><a href="#end">Contact Us</a></li>
               <li><a href="/privacyPolicies">Privacy Policies</a></li>


               <%if(locals.user && locals.user.access=="student"){%>
               <li>
                  <a href="/dashboard/student" id="login-button">Dashboard
                  </a>
               </li>
               <li>
                  <a href="users/SignOut" id="login-button">Logout
                  </a>
               </li>
               <%}else if(locals.user && locals.user.access=="teacher"){%>
               <li>
                  <a href="/dashboard/teacher" id="signup-button">
                     Dashboard
                  </a>
               </li>
               <li>
                  <a href="users/SignOut" id="login-button">Logout
                  </a>
               </li>
               <%}else if(locals.user){%>
               <li>
                  <a href="users/signIn" id="login-button">
                     Register
                  </a>
               </li>
               <%}else {%>

               <li>
                  <a href="users/signIn" id="login-button">Login
                  </a>
               </li>

               <li>
                  <a href="users/signUp" id="signup-button">Sign Up
                  </a>
               </li>
               <%}%>









                  <!-- <li><a href="" id="login-button">Login</a></li>
                  <li><a href="" id="signup-button">Sign up</a></li> -->
               </ul>
            </div>
            <div class="navigation-links" id="smallDevices">
               <ul>
                  <%if(locals.user && locals.user.access=="student"){%>
               <li>
                  <a href="/dashboard/student" id="login-button">Dashboard
                  </a>
               </li>
               <li>
                  <a href="users/SignOut" id="login-button">SignOut
                  </a>
               </li>
               <%}else if(locals.user && locals.user.access=="teacher"){%>
               <li>
                  <a href="/dashboard/teacher" id="signup-button">
                     Dashboard
                  </a>
               </li>
               <li>
                  <a href="users/SignOut" id="login-button">SignOut
                  </a>
               </li>
               <%}else if(locals.user){%>
               <li>
                  <a href="users/signIn" id="login-button">
                     Register
                  </a>
               </li>
               <%}else {%>

               <li>
                  <a href="users/signIn" id="login-button">Login
                  </a>
               </li>

               <li>
                  <a href="users/signUp" id="signup-button">Sign Up
                  </a>
               </li>
               <%}%>
                  <!-- <li><a href="" id="login-button">Login</a></li>
                  <li><a href="" id="signup-button">Sign up</a></li> -->
               </ul>
            </div>
         </div>
      </nav>
      <!-- Top Navbar ends-->

      <!-- Intro Section begins -->
      
      <section id="intro">
         <div class="container">
            <div class="row">
               <div class="col" id="#">
                  <h1>Thunder Meet</h1>
                  <p>Sick of hearing about the privacy issues of ZOOM? Or did you get tired of looking into your time table for every class? Worried that unwanted people might join your Google meeting?
                  <br>Don't worry! Thunder Meet got everything covered.
                  </p>

                  <div class="btn popup" onclick="myFunction()" style="background-color: #683aa4; color: white;">Explore Features
                     <span class="popuptext" id="myPopup">
                        <p style="font-weight: 100; font-family: sans-serif; font-size: 13px; text-transform: lowercase;">
                        <b style="color:#683aa4;">For the teacher's Guest Account use</b>
                        <br>
                        Email: kumarsumit16022000@gmail.com
                        <br>
                        password : 12345678
                        <br>
                        <b style="color:  #683aa4;">For the students's Guest Account use</b>
                        <br>
                        Email: 2018kucp1042@iiitkota.ac.in
                        <br>
                        password : 12345678
   
                     </p></span>
                   </div>
                  
               </div>
               <div class="col img-col">
                  <img src="images/main_image.svg" alt="main-image" class="image-fluid"> 
               </div>
            </div>
            <div class="row cards" id="need">
               <div class="col-md-4 d-flex justify-content-center">
                  <div class="card" style="width: 18rem;">
                     <div class="card-body">
                        <img src="../images/meeting_logo.png" alt="advantage 1" class="icon" />
                       <h5 class="card-title">Virtual meetings</h5>
                       <p class="card-text">Do not let the pandemic disrupt your business. Why postpone meetings when you can hold them virtually</p>
                     </div>
                   </div>
               </div>
              
               <div class="col-md-4 d-flex justify-content-center">
                  <div class="card" style="width: 18rem;">
                     <div class="card-body">
                        <img src="../images/discussion_logo.png" alt="advantage 2" class="icon" />
                       <h5 class="card-title">Discussions</h5>
                       <p class="card-text">Be it a random discussion or you on your way to build your startup, we got it taken care of.</p>
                     </div>
                   </div>
               </div>

               <div class="col-md-4 d-flex justify-content-center">
                  <div class="card" style="width: 18rem;">
                     <div class="card-body">
                        <img src="../images/online_image.png" alt="advantage 3" class="icon" />
                       <h5 class="card-title">Online classes</h5>
                       <p class="card-text">The youth of a nation is what empowers it. Do not let COVID affect the education of the youth.                     </div>
                   </div>
               </div>

            </div>
         </div>
      </section>

      <!-- Intro Section ends -->

      <!-- Carousel begins -->

       <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"">
         <ol class="carousel-indicators">
           <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
           <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
           <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
         
         </ol>
         <div class="carousel-inner">
          
           <div class="carousel-item active" data-interval="10000">
             <img src="<%=assetPath("images/3-min.png")%>" class="d-block w-100" alt="Snapshot 1" />
               <div class="carousel-caption d-none d-md-block" style="color: black;">


                  <p>You have access to your assignments. You can raise doubts. You can report a problem. You are our
                     priority.</p>
               </div>
         </div>
         <div class="carousel-item" data-interval="10000">
            <img src="<%=assetPath("images/1-min.png")%>" class="d-block w-100" alt="Snapshot 2" />
            <div class="carousel-caption d-none d-md-block">
               <h5 style="color: black;">Login and that's it!</h5>
               <p style="color: black;">Every information at your "home step"</p>
            </div>
         </div>
         <div class="carousel-item" data-interval="10000">
            <img src="<%=assetPath("images/2-min.png")%>" class="d-block w-100" alt="Snapshot 3" />
            <div class="carousel-caption d-none d-md-block">
               <p style="color: white;">We have a ton of features to help you out. Keep scrolling.</p>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="sr-only" style="color: black;">Next</span>
      </a>
      </div>

      <!-- Carousel ends -->


      <!-- Why Thunder Meet section begins -->

      <section id="about-us">
         <div class="container">
            <div class="row align-items-center">
               <div class="col">
                  <img src="../images/main_info.svg" alt="About Us" class="img-fluid" />
               </div>
               <div class="col">
                  <h1>Why Thunder Meet</h1>
                  <p>
                     COVID-19 has impacted all our lives. We’ve witnessed the best of the best failing in this pandemic.
                     Keeping the target of creating a platform that does not stop at any cost, we present to you,
                     Thunder Meet.
                     <br>Don't worry! Thunder Meet got everything covered.
                  </p>
                  <a href="organizations/register"><button class="btn pl-4 pr-4">Join Us</button></a>

               </div>
            </div>
         </div>

      </section>

      <!-- About us section ends -->

      <!-- Founders section begins -->

      <section id="founders">
         <div class="container">
            <div class="row align-items-center founders">
               <div>
                  <h1>Meet the founders</h1>
                  <p>We at Thunder Meet burn our midnight oil to ensure that your meetings are hassle-free. Say Hi to
                     the founders.</p>
               </div>
               <div class="row align-items center" id="foundersImages">
                  <div class="col">
                     <div class="card mb-3">
                        <img src="../images/upkar_image.svg" class="card-img-top" alt="Upkar Saraswat">
                        <div class="card-body">
                           <h5 class="card-title">Upkar Saraswat</h5>
                           <p class="card-text">An avid technology enthusiast and web-developer, Upkar has experience in
                              building highly scalable web-applications</p>
                           <br>
                           <div class="social-media-links">
                              <a href="https://www.facebook.com/upkar.saraswat"><i class="fa fa-facebook-square fa-2x"
                                    aria-hidden="true" style="color: #683aa4;"></i></a>
                              <a href="https://www.instagram.com/upkarsaraswat/"><i class="fa fa-instagram fa-2x"
                                    aria-hidden="true" style="color: #683aa4;"></i></a>
                              <a href="https://www.youtube.com/channel/UCjOVxbNxxDzEYJHMDCPch-w"><i
                                    class="fa fa-youtube-play fa-2x" aria-hidden="true" style="color: #683aa4;"></i></a>
                           </div>
                           <p class="card-text"><small class="text-muted">ReactJS, Java
                              </small></p>
                        </div>
                     </div>
                  </div>
                  <div class="col">
                     <div class="card mb-3" style="overflow: hidden;">
                        <img src="../images/sumit_banner.svg" style="margin-left: -100px;" class="card-img-top"
                           alt="Sumit Kumar">
                        <div class="card-body">
                           <h5 class="card-title">Sumit Kumar</h5>
                           <p class="card-text">A great learner and the man behind the plan, Sumit has experience in
                              building highly scalable systems</p>
                           <br>
                           <div class="social-media-links">
                              <a href="https://www.facebook.com/profile.php?id=100027802071821"><i
                                    class="fa fa-facebook-square fa-2x" aria-hidden="true"
                                    style="color: #683aa4;"></i></a>
                              <a href="https://www.instagram.com/kumarsumit16022000/"><i class="fa fa-instagram fa-2x"
                                    aria-hidden="true" style="color: #683aa4;"></i></a>
                              <a href="https://www.youtube.com/channel/UCjOVxbNxxDzEYJHMDCPch-w"><i
                                    class="fa fa-youtube-play fa-2x" aria-hidden="true" style="color: #683aa4;"></i></a>
                           </div>
                           <p class="card-text"><small class="text-muted">NodeJS, MongoDB
                              </small></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Founders section ends -->

      <footer id="end" class="contact">
         <div class="content">
            <h2>Contact Us</h2>
            <p>We are more than happy to solve any query you have. You can write to us for any information that you need
               from us.</p>
         </div>
         <div class="container">
            <div class="contactInfo">
               <div class="box">
                  <div class="icon"><i class="fas fa-map-marker" aria-hidden="true"></i></div>
                  <div class="text">
                     <h3>Address</h3>
                     <p>MNIT Jaipur <br> JLN Marg, Jaipur <br> IN - 302017</p>
                  </div>
               </div>
               <div class="box">
                  <div class="icon"><i class="fas fa-phone" aria-hidden="true"></i></div>
                  <div class="text">
                     <h3>Phone</h3>
                     <p>+91 8769297586</p>
                  </div>
               </div>
               <div class="box">
                  <div class="icon"><i class="fas fa-envelope" aria-hidden="true"></i></div>
                  <div class="text">
                     <h3>Email</h3>
                     <p>thethunderbirdus@gmail.com</p>
                  </div>
               </div>
            </div>
            <div class="contactForm">
               <form action="">
                  <h2>Send a message</h2>
                  <div class="inputBox">
                     <input type="text" name="Name" required>
                     <span>Full Name</span>
                  </div>
                  <div class="inputBox">
                     <input type="email" name="email" required>
                     <span>Email</span>
                  </div>
                  <div class="inputBox">
                     <textarea required></textarea>
                     <span>Write your query here ... </span>
                  </div>
                  <div class="inputBox">
                     <input type="submit" name="" value="Send">
                  </div>
               </form>
            </div>
         </div>
      </footer>

      <script>

         function myFunction() {
            if (window.scrollY == 0) {
               document.getElementById('bar').classList.add("zoomIn");
            } else {
               document.getElementById('bar').classList.remove("zoomIn");
            }
         }

         $(document).ready(function () {
            //Preloader
            preloaderFadeOutTime = 4000;
            function hidePreloader() {
               var preloader = $('.spinner-wrapper');
               preloader.fadeOut(preloaderFadeOutTime);
            }
            hidePreloader();
         });
      </script>

      <script src="<%=assetPath("js/stackpathbootstrap.js")%>"> </script>

      <script>
         // When the user clicks on div, open the popup
         function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
         }
      </script>


</body>

</html>