<!doctype html>
<html lang="en">

<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/fluent/48/000000/ok.png">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="<%=assetPath('css/layout.css') %>">

    <%-style%>
</head>

<main id="layout-main">
    <%-body%>
</main>

<%-script%>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>


<script>
        <% if (flash.success && flash.success.length > 0) {%>
        new Noty({
            theme: 'metroui',
            text: '<%=flash.success%>',
            type: 'success',
            layout: 'topRight',
            timeout: 4000
        }).show();
        <%}%>

        <% if (flash.error && flash.error.length > 0) {%>
        new Noty({
            theme: 'relax',
            text: '<%=flash.error%>',
            type: 'error',
            layout: 'topRight',
            timeout: 4000
        }).show();
        <%}%>

    //     $.getJSON("https://api.ipify.org?format=json", 
    //     function(data) {
           
    //         $.getJSON("https://geo.ipify.org/api/v1?apiKey=at_TVpVnQl3ypFUTUvDtLsiB12KtQXqM&ipAddress="+data.ip,function(data1){
    //             $(".ip").html(data1.location.city +" "+ data1.location.region);
    //             console.log(data1)
    //         }) 
    // })

</script>

</html>