<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="HandheldFriendly" content="true">
  <link rel="stylesheet" href="/css/student_dashboard.css">
  <style>
    .open-button {
      background: #444444;
      color: white;
      height: 40px;
      width: 200px;
      font-size: larger;
    }

    .open-button:hover {
      background: black;
      cursor: pointer;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .open-button-2 {
      background: #2e4ead;
      color: white;
      height: 40px;
      width: 200px;
      font-size: larger;
    }

    .open-button-2:hover {
      background: #fff;
      color: #2e4ead;
      cursor: pointer;
      border: 1px solid black;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .wrapper#blur.active {
      filter: blur(20px);
      pointer-events: none;
      user-select: none;
    }
  </style>
</head>

<body>

  <div class="wrapper" id="blur">
    <div class="top_navbar">
      <div class="hamburger">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <div class="top_menu">
        <div class="logo"><img  style="height: 30px; margin-left: -10px;"  src="<%=assetPath("images/logo.svg")%>"></div>

        <div class="navbar-right">
          <div class="notifications">
            <div class="icon_wrap" style="margin-top: -10px; margin-right: -15px;  padding: 10px;">

              <svg  height="1em" style="height: 15px; color: blue;" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
              </svg>
            </div>
            <div class="notification_dd">
              <ul class="notification_ul">
                <li class="success starbucks">
                  <div class="notify_icon">
                    <span class="icon"></span>
                  </div>
                  <div class="notify_data">
                    <div class="title">
                      Doubt
                    </div>
                    <div class="sub_title">
                      Doubt in netstat
                    </div>
                  </div>
                  <div class="notify_status">
                    <p>Resolved</p>
                  </div>
                </li>
                <li class="failed baskin_robbins">
                  <div class="notify_icon">
                    <span class="icon"></span>
                  </div>
                  <div class="notify_data">
                    <div class="title">
                      Complaint
                    </div>
                    <div class="sub_title">
                      Not able to update profile picture
                    </div>
                  </div>
                  <div class="notify_status">
                    <p>Pending</p>
                  </div>
                </li>
                <li class="success mcd">
                  <div class="notify_icon">
                    <span class="icon"></span>
                  </div>
                  <div class="notify_data">
                    <div class="title">
                      Poor video
                    </div>
                    <div class="sub_title">
                      Audio and video are lagging
                    </div>
                  </div>
                  <div class="notify_status">
                    <p>Resolved</p>
                  </div>
                </li>
                <li class="failed pizza_hut">
                  <div class="notify_icon">
                    <span class="icon"></span>
                  </div>
                  <div class="notify_data">
                    <div class="title">
                      Chat disabled
                    </div>
                    <div class="sub_title">
                      Not able to communicate via chat
                    </div>
                  </div>
                  <div class="notify_status">
                    <p>Pending</p>
                  </div>
                </li>
                <li class="success kfc">
                  <div class="notify_icon">
                    <span class="icon"></span>
                  </div>
                  <div class="notify_data">
                    <div class="title">
                      404
                    </div>
                    <div class="sub_title">
                      Problem not found
                    </div>
                  </div>
                  <div class="notify_status">
                    <p>Resolved</p>
                  </div>
                </li>
                <li class="show_all">
                  <p class="link">Show all activities</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="profile">
            <div class="icon_wrap">
              <img src="<%=locals.user.avatar%>" alt="user">
              <span class="name"><%=locals.user.name%></span>
              <i class="fas fa-chevron-down"></i>
            </div>
            <div class="profile_dd">
              <ul class="profile_ul">
                <li class="profile_li">
                  <a href="#" class="settings">
                    <i class="fas fa-user-cog"></i>
                    <span class="picon"></span>
                    Settings
                  </a>
                </li>
                <li>
                  <a href="/users/SignOut" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="picon"></span>
                    Log out
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup">
      <div class="shadow"></div>
      <div class="popup_inner">
        <div class="notification_dd">
          <ul class="notification_ul">
            <li class="title">
              <p>All notifications</p>
              <p class="close">
                <i class="fas fa-times" aria-hidden="true"></i>
              </p>
            </li>
            <li class="success starbucks">
              <div class="notify_icon">
                <span class="icon"></span>
              </div>
              <div class="notify_data">
                <div class="title">
                  Doubt
                </div>
                <div class="sub_title">
                  Doubt in netstat
                </div>
              </div>
              <div class="notify_status">
                <p>Resolved</p>
              </div>
            </li>
            <li class="failed baskin_robbins">
              <div class="notify_icon">
                <span class="icon"></span>
              </div>
              <div class="notify_data">
                <div class="title">
                  Attendance
                </div>
                <div class="sub_title">
                  30/9 - Attendance not counted
                </div>
              </div>
              <div class="notify_status">
                <p>Pending</p>
              </div>
            </li>
            <li class="success mcd">
              <div class="notify_icon">
                <span class="icon"></span>
              </div>
              <div class="notify_data">
                <div class="title">
                  Poor video
                </div>
                <div class="sub_title">
                  Video and audio are lagging here
                </div>
              </div>
              <div class="notify_status">
                <p>Success</p>
              </div>
            </li>
            <li class="failed pizza_hut">
              <div class="notify_icon">
                <span class="icon"></span>
              </div>
              <div class="notify_data">
                <div class="title">
                  Class
                </div>
                <div class="sub_title">
                  Not able to join class
                </div>
              </div>
              <div class="notify_status">
                <p>Failed</p>
              </div>
            </li>
            <li class="success kfc">
              <div class="notify_icon">
                <span class="icon"></span>
              </div>
              <div class="notify_data">
                <div class="title">
                  Chat disabled
                </div>
                <div class="sub_title">
                  Not able to communicate via chat
                </div>
              </div>
              <div class="notify_status">
                <p>Success</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="tabs" class="sidebar">
      <ul>
        <li><a id="b1" class="active">
            <span class="icon"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-house-door-fill"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z" />
                <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
              </svg></span>
            <span class="title">
              Home

            </span></a></li>
        <li><a id="b2" href="#tabs-classes">
            <span class="icon">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-hourglass-split" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2h-7zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48V8.35zm1 0c0 .701.478 1.236 1.011 1.492A3.5 3.5 0 0 1 11.5 13s-.866-1.299-3-1.48V8.35z" />
              </svg>
            </span>
            <span class="title">
              Classes
            </span>
          </a></li>
        <li>
          <a id="b6" href="#tabs-liveClass">
            <span class="icon">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
              </svg>
            </span>
            <span class="title">
              Live
            </span>
          </a>
        </li>
        <li><a id="b3" href="#tabs-assignments">

            <span class="icon">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-list-task" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5H2zM3 3H2v1h1V3z" />
                <path
                  d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9z" />
                <path fill-rule="evenodd"
                  d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5V7zM2 7h1v1H2V7zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5H2zm1 .5H2v1h1v-1z" />
              </svg>
            </span>
            <span class="title">
              Assignments
            </span>
          </a></li>
        <li><a id="b4" href="#tabs-profile">
            <span class="icon">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              </svg>
            </span>
            <span class="title">
              Profile
            </span>
          </a></li>
        <li><a id="b5" href="#tabs-report">
            <span class="icon">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-flag-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
              </svg>
            </span>
            <span class="title">
              Report
            </span>
          </a></li>
      </ul>
    </div>

    <div id="c1" class="main_container" style="display: block;background-color: white;">
      <h1 style="color: #5A5C69;">Dashboard</h1>
      <div class="summaryCards">
        <div class="contentCard">
          <div class="info">
            <h1 style="color: #2e4ead;font-size: xx-large;"><%=user.totalClass%></h1>
            <h3>Total classes hosted</h3>
          </div>
          <div class="sideLogo">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </svg>
          </div>
        </div>
        <div class="contentCard">
          <div class="info">
            <h1 style="color: #2e4ead;font-size: xx-large;">0</h1>
            <h3>Classes cancelled</h3>
          </div>
          <div class="sideLogo">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path fill-rule="evenodd"
                d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z" />
              <path
                d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z" />
            </svg>
          </div>
        </div>
        <div class="contentCard">
          <div class="info">
            <h1 style="color: #2e4ead;font-size: xx-large;">Verdict</h1>
            <h3>Excellent student reviews</h3>
          </div>
          <div class="sideLogo">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses" fill="currentColor"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path fill-rule="evenodd"
                d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z" />
              <path
                d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z" />
            </svg>
          </div>
        </div>
        
        <%for(i of attend){%>
          <div class="contentCard">
            <div class="info">
              <h1 style="color: #2e4ead;font-size: xx-large;"><%=i.teacher.name%></h1>
              <h3><%=i.duration%> mins</h3>
            </div>
            <div class="sideLogo">
              <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-emoji-sunglasses" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd"
                  d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM6.5 6.497V6.5h-1c0-.568.447-.947.862-1.154C6.807 5.123 7.387 5 8 5s1.193.123 1.638.346c.415.207.862.586.862 1.154h-1v-.003l-.003-.01a.213.213 0 0 0-.036-.053.86.86 0 0 0-.27-.194C8.91 6.1 8.49 6 8 6c-.491 0-.912.1-1.19.24a.86.86 0 0 0-.271.194.213.213 0 0 0-.036.054l-.003.01z" />
                <path
                  d="M2.31 5.243A1 1 0 0 1 3.28 4H6a1 1 0 0 1 1 1v1a2 2 0 0 1-2 2h-.438a2 2 0 0 1-1.94-1.515L2.31 5.243zM9 5a1 1 0 0 1 1-1h2.72a1 1 0 0 1 .97 1.243l-.311 1.242A2 2 0 0 1 11.439 8H11a2 2 0 0 1-2-2V5z" />
              </svg>
            </div>
          </div>

        <%}%>
      </div>

      <div id="date">
        Wednesday, September 22
      </div>

      <div class="mainCards">
        <div class="contentCard">
          <div class="info">
            <h1 style="color: #2e4ead;font-size: xx-large;">Vacant?</h1>
            <h3 style="font-size:medium;">Even we can be mistaken. Cross check your time table</h3>
            <button class="open-button-2" onclick="toggle()">Time table</button>
          </div>
        </div>
      </div>
    </div>
    <div id="c2" class="main_container" style="display: none;background-color: #fff;">
      <!-- <h2 style="">Today's Schedule</h2> -->

      <h2 style="font-size: 34px;color: #2e4ead;font-weight: 700;text-align: left;">Class Schedule</h2>

      <br>
      <p style="padding: 10px;">
        Note : Once a faculty member hosts a meeting, you will find the link in the live classes
        section. Do not worry, your meetings won’t clash. It’s been taken care of.
        You can find out which lecture is going on at the moment.
        <br>Bonus : you can find the links in your calendar as
        well and set reminders according to your convenience so that you never miss a class!
      </p>

      <div class="lectures_wrapper">

        <% 
        var z= new Date((new Date().toISOString()).split("T")[0]+"T"+"00:01")
        var y= new Date((new Date().toISOString()).split("T")[0]+"T"+"23:59");
        %>

        <button class="btn" style="width: 100%; font-weight: bold; background-color: #683aa4; color: white;">
          Today's Lectures
        </button>

        <div class="current">

          <% for(i of links){%>
          <% var x= new Date( i.startFrom );%>
          <% if(x>z && y>x){%>
          <div class="lectures">
            <h3><%=i.classOf%> - <%=i.moderator%></h3>
            <br>
            <h4><%= ((i.startFrom).split("T")[1]).split(":")[0] %>:00 -
              <%=((i.startFrom).split("T")[1]).split(":")[0] %>:45 <sub style="font-size: 10px;">Created At -
                <%= String(i.createdAt).split("GMT")[0] %> </sub>
            </h4>
          </div>

          <div style="display: flex; flex-direction: row;">
            <a style="color: black; font-weight: 600; width: 50%;" href="<%=i.meetLinks%>">
              <div class="btn" style=" border: 1px solid #283ea4;">Via Google Meet</div>
            </a>
            <a style="color: black; font-weight: 600; width: 50%;" href="//sumitkumar.ml/<%=i.localLinks%>">
              <div class="btn" style="border: 1px solid #283ea4;">Via Thunder Meet</div>
            </a>
          </div>
          <%}%>
          <%}%>

        </div>

        <button class="btn" id="upcoming"
          style="width: 100%; font-weight: bold; background-color: #683aa4; color: white;">Upcoming lectures</button>
        <div class="upcoming_today">
          <% for(i of links){%>

          <% var x= new Date( i.startFrom );%>

          <% if(x>z && x>y){%>
          <div class="lectures">
            <h3><%=i.classOf%> - <%=i.moderator%></h3>
            <br>
            <h4><%= ((i.startFrom).split("T")[1]).split(":")[0] %>:00 -
              <%=((i.startFrom).split("T")[1]).split(":")[0] %>:45 <sub style="font-size: 10px;">Created At -
                <%= String(i.createdAt).split("GMT")[0] %> </sub></h4>

          </div>

          <div style="display: flex; flex-direction: row; width: 100%;">
            <a style="color: black; font-weight: 600; width: 50%;" href="<%=i.meetLinks%>">
              <div class="btn" style=" border: 1px solid #283ea4;">Google Meet</div>
            </a>
            <a style="color: black; font-weight: 600; width: 50%;" href="//sumitkumar.ml/<%=i.localLinks%>">
              <div class="btn" style="border: 1px solid #283ea4;">Thunder Meet</div>
            </a>
          </div>
          <%}%>
        
          <%}%>
        </div>
        <button class="btn" style="background-color: #683aa4; width: 100%; color: white; font-weight: bold;" id="gone">
          Past Lectures
        </button>
        <div class="past_lectures">
          <% for(i of links){%>

          <% var x= new Date( i.startFrom );%>

          <% if(x<y && x<z){%>
          <div class="lectures">
            <h3><%=i.classOf%> - <%=i.moderator%></h3>
            <br>
            <h4><%= ((i.startFrom).split("T")[1]).split(":")[0] %>:00 -
              <%=((i.startFrom).split("T")[1]).split(":")[0] %>:45 <sub style="font-size: 10px;">Created At -
                <%= String(i.createdAt).split("GMT")[0] %> </sub></h4>
          </div>
          <div style="display: flex; flex-direction: row;">
            <a style="color: black; font-weight: 600; width: 50%;" href="<%=i.meetLinks%>">
              <div class="btn" style=" border: 1px solid #283ea4;">Google Meet</div>
            </a>
            <a style="color: black; font-weight: 600; width: 50%;" href="//sumitkumar.ml/<%=i.localLinks%>">
              <div class="btn" style="border: 1px solid #283ea4;">Thunder Meet</div>
            </a>
          </div>
          <%}%>
         
        <%}%>
        </div>
      </div>


    </div>


    <div id="c3" class="main_container" style="display: none;background-color: #fff;">
      <div class="item">
        Content 3
      </div>
    </div>



    <div id="c4" class="main_container" style="display: none;background-color: white;">

      <h1 style="color: #5A5C69;" class="animated hinge">Profile</h1>
      <br>
      <div class="summaryCards">
        <div class="contentCard">
          <div class="info">
            <h1 style="color: #2e4ead;font-size: xx-large;"><%=user.name%></h1>
            <br>
            <h3>Roll No: <%=user.roll%></h3>
            <h3>Year: <%=user.year%></h3>
            <h3>Branch: <%=user.branch%></h3>
            <h3>Email: <%=user.email%></h3>
            <h3>Mobile: <%=user.contact%></h3>
            <h3>Registered : <%=user.registered%></h3>
            <h3><%=user.createdAt%></h3>
            <br><br>
            <p class="card-text" style="color: 6c757d;"><small class="text-muted">
                <%=user.access%> of <%=user.org%>
              </small></p>
          </div>
          <div class="sideLogo">
            <img src="<%=user.avatar%>" alt="profile-picture" class="animated zoomInUp">
            <button id="profileUpdate" style="display: none;">Update</button>
          </div>
        </div>
      </div>
    </div>



    <div id="c5" class="main_container" style="display: none;background-color: #fff;">
      <div class="left">
        <div class="text">
          <h1>Report an issue</h1>
          <p></p>
        </div>
        <div class="photo"></div>
      </div>
      <div class="right">
        <form action="">
          <!-- <h2>Send a message</h2> -->
          <div class="inputBox">
            <input type="text" name="Name" required>
            <span>Full Name</span>
          </div>
          <div class="inputBox">
            <input type="email" name="email" required>
            <span>Email</span>
          </div>
          <div class="inputBox">
            <textarea required></textarea>
            <span>Write your complaint here </span>
          </div>
          <div class="inputBox">
            <input type="submit" name="" value="Send">
          </div>
        </form>
      </div>
    </div>

    <div id="c6" class="main_container" style="display: none;background-color: #fff;">

      <div class="video-wrapper" style="width: 100%;">
        <div class="title">
          <h2>current</h2>
          <h2 id="demo"></h2>
        </div>
     


          <% 
            var z= new Date();
            var temp =0;
          %>

          <%for(i of links){%>

          <% 
          var x=new Date((i.startFrom).split("T")[0]+"T"+((i.startFrom).split("T")[1]).split(":")[0]+":00");
          var y=new Date((i.startFrom).split("T")[0]+"T"+((i.startFrom).split("T")[1]).split(":")[0]+":59");
          %>

          <% if(z>=x && z<=y) {%>
            <% temp++ %>
            <div class="lectures" style="padding: 10px;">
              <h3><%=i.classOf%> - <%=i.moderator%></h3>
              <br>
              <h4><%= ((i.startFrom).split("T")[1]).split(":")[0] %>:00 -
                <%=((i.startFrom).split("T")[1]).split(":")[0] %>:59 <sub style="font-size: 10px;">Created At -
                  <%= String(i.createdAt).split("GMT")[0] %> </sub></h4>
  
            </div>
  
            <br>
            <br>
            <div style="display: flex; flex-direction: column; flex-wrap: wrap; width: 100%;">
              <a style="color: black; font-weight: 600; width: 100%;" href="<%=i.meetLinks%>">
                <div class="btn" style=" border: 1px solid #283ea4;">Google Meet</div>
              </a>
              <a style="color: black; font-weight: 600; width: 100%;" href="//sumitkumar.ml/<%=i.localLinks%>">
                <div class="btn" style="border: 1px solid #283ea4;">Thunder Meet</div>
              </a>
            </div>

            <hr>

            <%}%>
          <%}%>

          <%if(temp==0){%>
            <span class="btn" style=" background-color:  white; width: 100%; border: 1px solid blue; text-align: center; font-weight: bold;">No Live Class For This Time Slot Till Now ! </span>
          <%}%>

   
      </div>
    </div>

  </div>



  <script>
    //for fetching time
    var d = new Date();
    var n = d.getHours();
    document.getElementById("demo").innerHTML = n + ":00 - " + (n) + ":59";


    $('#b1').click(function () {
      $('#c1').show();
      $('#c2').hide();
      $('#c3').hide();
      $('#c4').hide();
      $('#c5').hide();
      $('#c6').hide();
    });
    $('#b2').click(function () {
      $('#c1').hide();
      $('#c2').show();
      $('#c3').hide();
      $('#c4').hide();
      $('#c5').hide();
      $('#c6').hide();
    });
    $('#b3').click(function () {
      $('#c1').hide();
      $('#c2').hide();
      $('#c3').show();
      $('#c4').hide();
      $('#c5').hide();
      $('#c6').hide();
    });
    $('#b4').click(function () {
      $('#c1').hide();
      $('#c2').hide();
      $('#c3').hide();
      $('#c4').show();
      $('#c5').hide();
      $('#c6').hide();
    });
    $('#b5').click(function () {
      $('#c1').hide();
      $('#c2').hide();
      $('#c3').hide();
      $('#c4').hide();
      $('#c5').show();
      $('#c6').hide();
      $('#c5').css('display', 'block');
    });
    $('#b6').click(function () {
      $('#c1').hide();
      $('#c2').hide();
      $('#c3').hide();
      $('#c4').hide();
      $('#c5').hide();
      $('#c6').show();
    });

    $('#tabs a').click(function () {
      $("#tabs a").removeClass("active");
      $(this).addClass("active");
    });

    $('#upcoming').click(function () {
      $('.upcoming_today').toggle("slow");
    });

    $('#gone').click(function () {
      $('.past_lectures').toggle("slow");
    });


  </script>
  <script>
    $(function () {
      $('a#logout').click(function () {
        if (confirm('Are you sure to logout')) {
          return true;
        }

        return false;
      });
    });
  </script>
  <script>
    var isCollapsed = false;
    $(document).ready(function () {
      $(".hamburger").click(function () {
        $(".wrapper").toggleClass("collapse");
      });
      $(".profile .icon_wrap").click(function () {
        $(this).parent().toggleClass("active");
        $(".notifications").removeClass("active");
        if (!($(".wrapper").hasClass("collapse"))) {
          if ($(window).width() <= 1060) {
            $(".wrapper").toggleClass("collapse");
          }
        }
      });
      $(".notifications .icon_wrap").click(function () {
        $(this).parent().toggleClass("active");
        $(".profile").removeClass("active");
        if (!($(".wrapper").hasClass("collapse"))) {
          if ($(window).width() <= 1060) {
            $(".wrapper").toggleClass("collapse");
          }
        }
      });
      $(".link").click(function () {
        $(".notifications").removeClass("active");
        $(".popup").addClass("active");
      });
      $(".close").click(function () {
        $(".popup").removeClass("active");
      });
      // $("body").click(function() {
      //   if (!$(this.target).is('.notifications')) {
      //     $(".notifications").removeClass("active");
      //   }
      //   else if (!$(this.target).is('.profile')) {
      //     $(".profile").removeClass("active");
      //   }
      // }
      $('body').click(function () {
        $(".profile").removeClass("active");
        $(".notifications").removeClass("active");
      });


      $('.profile').click(function (e) {
        e.stopPropagation();
      });
      $('.notifications').click(function (e) {
        e.stopPropagation();
      });
      if ($(window).width() <= 1060) {
        $(".wrapper").toggleClass("collapse");
      }
    });
  </script>
</body>

</html>