<div class="animated bounce z-depth-4">
    <div style="width: 100%; text-align: center; font-size: 18px; color: #3b3b3b;"
    <p style="font-weight: 900;">Hi <%=organization.acronym%>,</p>
    <p>
                you recently registered for Thunder Meet from your <%=organization.admin%> account.
        </p>

        <div style="text-align: center;">
            <p>copy your institute key </p>
            <p style="color: red; font-weight: bold;">
                <span><%=organization.token %></span>
            </p>
        </div>

        <p>
                if you did not request an Institute Key, please ignore this email or reply to let us know.
                You have to keep this key secret and you have to share this key with the teachers <br>
                of the organization <%=organization.organization %> 
                and do not share this code with anyone else except than your institute teachers. 
                <br>
                <br>

                Thanks,<br>
                The Thunder Bird Corporation Team : Sumit Kumar | Upkar Saraswat > Thunder Meet <br>
                <br>
                <span style="font-weight: 600;">P.S.</span> We also love hearing from you with any issues you have. please reply to this email if you want to ask a question or just say hi. <br>
                <br>
                <br>
                        <h2 style="text-align: center;"><%=organization.motto%></h2>

        </p>
    </div>
    <div style="width: 100%; text-align: center;">
        &copy; 2020 Thunder Meet. All rights reserved.
        <span style="width: 100%; text-align: center;">Thunder Bird Corporation,<br> 9 main Street Badbar, <br> Jhunjhunu, Rajsthan <br> <img src="https://img.icons8.com/ios/50/000000/india-map.png" "/> <span style="background: linear-gradient(orange,white,green); padding: 2px;"> INDIA</span> </span>
    </div>
</div>